html {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
height:100%;
}
h1 {
    font-size: 50px;
}
.home {
    color:white;
    font-family:sans-serif;
    text-align: center;
}

p {
    margin-top: -40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.category {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 40px;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
}

.cat {
    padding-top: 150px;
}
.smallGlow {
    color: #fff;
    text-shadow:
      0 0 2px #fff, 0 0 1px #fff, 0 0 3px #fff;
  }
  .bigGlow {
    color: #fff;
    text-shadow:
      0 0 2px #fff, 0 0 1px #fff, 0 0 3px #fff;
  }

h1, p, .button, .input, .home {
    font-family: Georgia;
}


.input {
    height:64px;
    width:105px;
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(255, 255, 255, 0.671);
    --enhanced-glow-color: rgba(255, 255, 255, 0.712);
    --btn-color: #081F88;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    text-align: center;
   }
   
   .input:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
   }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input::placeholder {
    text-align: center;
    color: #fff;
}


 .elements {
    padding-right: 100px;
    display:inline-block;
    text-align: center;
  }


.button {
    height: 100px;
    width:200px;
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgb(255, 255, 255);
    --enhanced-glow-color: rgb(255, 255, 255);
    --btn-color: #0559AE;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color),  inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }

   .button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
